ol {
  text-align:center;
  padding:30px;
  padding-left:45px;
  margin:0px;
  color:gray;
  border-bottom:1px solid gray;
}
@media(min-width:600px){
#grid {
  display:grid;
  grid-template-columns:225px 1fr;
}
ol {
  text-align:left;
  border-right:1px solid gray;
  border-bottom:none;
}
}
body {margin:0px}
a {
  color:powderblue;
  text-decoration:none;
  font-size:30px;
  font-weight:bold;
}
h1 {
  text-align:center;
  text-shadow:10px 10px 0px lightgray;
  padding:30px;
  margin:0px;
  border-bottom: 1px solid gray;
}
img {
  padding: 30px;
}
p, ul{
  color:gray;
    padding:20px;
}
ul{
  padding-left:50px;
}
